.ssh/
.gnupg/
*.pem
*.key

# OS files
.DS_Store
Thumbs.db


.config/tmux/plugins/
.config/zsh/.zsh_history
.config/zsh/.zcompdump*
.config/zsh/.zsh_sessions/
.config/zsh/.disabled
.config/zsh/workspace.d/
