.ssh/
.gnupg/
*.pem
*.key

# OS files
.DS_Store
Thumbs.db


.config/tmux/plugins/
.config/zsh/.zsh_history
.config/zsh/.zcompdump
.config/zsh/.disabled
#workstation-specific functions
.config/zsh/_functions/
