# This is Git's per-user configuration file.
[user]
	name = Kevin Fisher
  email = kevincliffordfisher@gmail.com

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  nagivate = true
  dark = true
  side-by-side = true

[merge]
  conflictStyle = zdiff3

[alias]
  findbranch = checkout $(git branch|fzf)
  last = log -1 HEAD
  s = status -s
  sync = !git fetch --all --prune && git pull --rebase
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=committerdate
  lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
